@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Teko:300,400,500");
*,*:before,*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	background:url("../img/header.jpg")  center / cover no-repeat;
	margin: 0;
	font-family: 'Teko';
}
.container {
	background: url("../img/brave-container.png")  no-repeat center center;
	background-size: cover;
	position: relative;
	margin: 0px auto;
	max-width: 400px;
	height: auto;
	border: 1px solid #fff;
}
.navbar {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 57px;
}
.navbar-logo {
	width: 43px;
	float: left;
	margin-top: 7px;
	margin-left: 7px;
	border-radius: 5px;
}
.navbar-title {
	margin-left: 6px;
	margin-top: 8px;
	color: #eaa300;
	font-size: 17px;
	font-family: Teko;
	text-align: left;
	float: left;
}
.navbar-title span {
	color: #d9d9d8;
	font-size: 14px;
	line-height: 13px;
}
.navbar-menu {
	margin-top: 35px;
	margin-right: 5px;
	float: left;
}
.navbar-btn-wrapper {
	margin-top:10px;
	float:right;
}
.navbar-btn-wrapper i {
	margin-left:5px;
	font-size:38px;
	color:#d9d9d8;
	line-height:31px;
	float:right;
}
.navbar-btn {
	background:#eaa300;
	width:60px;
	height:auto;
	margin:2px;
	padding:2px;
	color:#000;
	font-size:15px;
	font-family:'Teko',sans-serif;
	text-align:center;
	text-transform:uppercase;
	border:1px solid #ffcc57;
	display:inline-block;
	outline:none;
}
.header {
	width: 100%;
	height: auto;
}
.header img {
	width: 100%;
	height: auto;
	margin-top: -0px;
}
.header video {
	width: 100%;
	height: auto;
	margin-top: -0px;
}
.home-title {
	background:url("../img/title.png") no-repeat center center;
	background-size:100% 100%;
	width:93%;
	height:90px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.verify-title {
	background:url("../img/title.png") no-repeat center center;
	background-size:100% 100%;
	width:93%;
	height:90px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.box {
    width: 95%;
    height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	position: relative;
	border-radius: 5px;
	display: block;
}
.menu-wrapper-border {
	height: 11px;
}
.menu-wrapper {
	width: 94.3%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	display: block;
}
.menu-content {
	background:url("../img/button.png") no-repeat center center;
	background-size:100% 100%;
	width: 32%;
	height: auto;
	padding: 5px;
	color: #000;
	font-size: 17px;
	font-family:'Teko', sans-serif;
	font-weight: 500;
	text-align: center;
	border: 2px solid #f2be74;
	border-radius: 7px;
	cursor: pointer;
}
.menu-content-active {
	background:url("../img/button.png") no-repeat center center;
	background-size:110% 110%;
	border: 2px solid #f2be74;
	border-radius: 7px;
}
.scroll {
	overflow:scroll;
	position:relative;
	width: 100%;
	height:500px;
	margin-top:11px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	scrollbar-face-color:#ffbb40;
	scrollbar-shadow-color:#ffbb40;
	scrollbar-highlight-color:#ffbb40;
	scrollbar-3dlight-color:#ffbb40;
	scrollbar-darkshadow-color:#ffbb40;
	scrollbar-track-color:#ffbb40;
	scrollbar-arrow-color:#ffbb40;
}
.item {
	width: 30%;
	height: 100px;
	margin: 3px;
	margin-bottom: 40px;
	display: inline-block;
}
.item img {
	width: 100%;
    height: 100%;
}
.item button {
	background:url("../img/button.png") no-repeat center center;
	background-size:120% 120%;
	width:100%;
	height:auto;
	padding:4px;
	color:#000;
	font-size:17px;
	font-family:Teko;
	font-weight: 500;
	text-align:center;
	border: none;
	outline:none;
}
.item img, .item button {
	border: 2px solid #f2be74;
}
.item div {
	width: 100%;
	height: 100%;
	border-radius: 3px 3px 0px 0px;
}
.item div:first-child {
	margin-left: 0;
}
.footer {
	background: #131313;
	width: 100%;
	height: auto;
	padding: 10px;
}
.footer-txt-follow {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 17px;
	font-family:Teko;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.footer-follow-icon {
	width: 49px;
	height: 49px;
	margin: 5px;
	display: inline-block;
}
.footer-txt-copyright {
	color: #fff;
	font-size: 15px;
	font-family:Teko;
	text-align: center;
}
.footer-copyright-icon {
	width: 85%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: block;
}
.popup {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	background-color:rgba(0, 0, 0, 0.4);
}
.popup-box {
	background:url("../img/popup.png") no-repeat center center;
	background-size:100% 100%;
	width: 390px;
	height: auto;
	position: relative;
	margin: 50px auto;
	margin-top: 15%;
	text-align: center;
	font-family:'Teko';
	color:#fef5ea;;
}
.nav-popup {
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav-popup-title {
	padding-left: 10px;
	padding-top: 5px;
	color: #fff;
	font-size: 23px;
	font-family:Teko;
	font-weight: 500;
	text-align: left;
}
.nav-popup-title-login {
	padding-left: 10px;
	padding-top: 0px;
	color: #fff;
	font-size: 23px;
	font-family:Teko;
	font-weight: 500;
	text-align: left;
}
.nav-popup img {
	width: 19px;
	height: 19px;
	margin-top: 10px;
	margin-right: 28px;
	float: right;
}
.popup-alert {
	width: 95%;
	height: auto;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 5px;
	color: #f5efdc;
	font-size: 20px;
    font-family:Teko;
	font-weight: 500;
	text-align: center;
	display: block;
}
.popup-alert-login {
	width: 95%;
	height: auto;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 5px;
	color: #f5efdc;
	font-size: 20px;
    font-family:Teko;
	font-weight: 500;
	text-align: center;
	display: block;
}
.popup-item {
	width:23%;
	height:87px;
	margin-left:auto;
	margin-right:auto;
	border: 2px solid #f2be74;
	display: block;
}
.popup-btn-wrapper {
	width: 100%;
	height: 50px;
}
.popup-btn-wrapper button {
	width: 30%;
	height: auto;
	padding: 3px;
	color: #213043;
	font-size:18px;
	font-family: Teko;
	font-weight: 500;
	text-align: center;
	border:2px solid #f2be74;
	outline: none;
}
.popup-btn-center {
	background: url("../img/button.png") no-repeat center;
	background-size: 120% 120%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.popup-button {
	background: url("../img/button.png") no-repeat center;
	background-size: 120% 120%;
	width: 30%;
	height: auto;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	color: #213043;
	font-size:18px;
	font-family: Teko;
	font-weight: 500;
	text-align: center;
	border:2px solid #f2be74;
	outline: none;
	display: block;
}
.popup-btn-login {
    width: 80%;
    height: auto;
    padding: 7px;
    margin-left: 11px;
    color: #000;
	font-size: 15px;
    font-family:Teko;
    border: none;
    outline: none;
}
.popup-btn-login i {
    color: #fff;
    font-size: 20px;
    float: left;
}
.popup-btn-facebook {
    background: #1778f2;
    color: #fff;
	margin-bottom: 3px;
}
.popup-btn-twitter {
    background: #08a0e9;
    color: #fff;
}
.popup-login {
	background:rgba(0,0,0,0.4);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
}
.popup-box-login-fb {
	background:#ECEFF6;
	max-width:330px;
	height:auto;
	position:relative;
	margin:50px auto;
	margin-top:1.9%;
	text-align:center;
	font-family:'Teko';
	color:#000;
	border-radius:10px;
}
.popup-box-login-twitter {
	background:#fff;
	max-width:330px;
	height:auto;
	position:relative;
	margin:50px auto;
	margin-top:10%;
	text-align:center;
	font-family:'Teko';
	color:#000;
	border-radius:10px;
}
.close-fb {
	background:#000;
	width:20px;
	height:20px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	border-radius:50%;
	border:1.5px solid #fff;
	position:absolute;
	top:-8px;
	right:-10px;
	display:block;
}
.close-fb i {
	color:#fff;
	padding-top:1px;
}
.close-other {
	background:#000;
	width:20px;
	height:20px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	border-radius:50%;
	border:1.5px solid #fff;
	top:-8px;
	right:-10px;
	position:absolute;
	z-index:9999999;
	display:block;
}
.close-other i {
	color:#fff;
	padding-top:1px;
}
.verify-form {
	width: 94.3%;
	height: auto;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.verify-form input {
	background: url("../img/button.png") no-repeat center;
	background-size: 120% 120%;
	width: 100%;
	height: auto;
	margin-bottom: 3px;
	padding: 7px;
	color: #000;
	font-size:17px;
	font-family:Teko;
	font-weight: 500;
	border: 2px solid #f2be74;
	border-radius: 7px;
	position: relative;
	outline: none;
	-webkit-appearance: none;
    -moz-appearance: none;
}
.verify-form input::placeholder {
	color: #000;
}
.verify-form select {
	background: url("../img/button.png") no-repeat center;
	background-size: 120% 120%;
	width: 100%;
	height: auto;
	margin-bottom: 3px;
	padding: 10px;
	padding-left: 7px;
	color: #000;
	font-size: 17px;
	font-family:Teko;
	font-weight: 500;
	border: 2px solid #f2be74;
	border-radius: 7px;
	position: relative;
	outline: none;
	-webkit-appearance: none;
    -moz-appearance: none;
}
.verify-form button {
    background: url("../img/button.png") no-repeat center;
	background-size: 120% 120%;
	width: 35%;
	height: auto;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 6px;
	font-size: 19px;
	font-family:Teko;
	font-weight: 500;
	text-align: center;
	color: #000;
	margin-bottom: 3px;
	border: 2px solid #f2be74;
	border-radius: 7px;
	position: relative;
	outline: none;
	display: block;
}
.kanan {
	float: right;
}
.kiri {
	float: left;
}
.tengah {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
::-webkit-scrollbar { 
    display: none;
    width: 0px;
}
figure {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.itemShine figure {
	position: relative;
}
.itemShine figure::before {
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	width: 50%;
	height: 100%;
	top: 0;
	left: -75%;
	position: absolute;
	z-index: 2;
	content: '';
	display: block;
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.itemShine figure::before {
	-webkit-animation: shine 2s infinite;
	animation: shine 2s infinite;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
		}
}
@keyframes shine {
	100% {
		left: 125%;
		}
}
@media only screen and (max-width:600px) {
    .container {
        width: 100%;
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
		border: none;
        border-radius: 0px;
        padding: 0px;
    }
    .box {
	    width: 96%;
		height: auto;
	}
	.home-title, .verify-title {
     width: 95%;
     height: 85px;
	 }
    .scroll {
        height: 400px;
    }
    .item {
        height: 90px;
    }
    .popup-box {
        width: 380px;
        margin-top: 60%;
        zoom: 0.9;
    }
    .popup-item {
        width:25%;
        height:85px;
	}
	.popup-box-login-fb {
		margin-top: 4%;
	}
	.popup-box-login-twitter {
		margin-top: 25%;
	}
}